.titulo{
    display: flex;
    color: #780875;
    margin: 10px;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: flex;
    flex-direction: row;
}

.card{
    margin: 50px;
}

.introduccion p{
    margin: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

p{
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: #8d1a89;
    font-size: 20px;
}

.card-text{
    font-size: 10px;
    padding: 0px;
    display: flex;
    margin: 0;
    color: white;
}

.compa{
    background-color: #540752;
    display: flex;
    display: block;
    width: 100%;
    height: auto;
}

.titulo2{
    color: aliceblue;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.aco{
    display: flex;
}

.titulo3{
    justify-content: center;
    justify-items: center;
    color: aliceblue;
    margin-left: 50px;
}

.imgst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

.back{
    display: flex;
    display: block;
}

.front{
    display: flex;
    display: block;
}