*{
    margin: 0;
    padding: 0;
}

.final{
    width: 100%;
    height: 400px;
    background-color:#3D0551 ;
    padding: 50px;
}

.carrousel{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #CA6DEB;
}

.titulo{
    width: 100%;
    height: 100px;
    padding: 50px;
    justify-items: center;
    justify-content: center;
    position: relative;
    background-color: #CA6DEB;
}

.titulo h5{
    padding: 50px;
    justify-items: center;
    justify-content: center;
    font-size: 60px;
}
